
@font-face {
    font-family: 'segeoui';
    src: url('../font/segouil.ttf') format('truetype');
    font-weight:400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'segeoui';
    src: url('../font/segoeui.ttf') format('truetype');
    font-weight:normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'segeoui';
    src: url('../font/seguisb.ttf') format('truetype');
    font-weight:600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'segeoui';
    src: url('../font/segoeuib.ttf') format('truetype');
    font-weight:700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'segeoui';
    src: url('../font/seguibl.ttf') format('truetype');
    font-weight:900;
    font-style: normal;
    font-display: swap;
}
