.whatwe{
    &__div{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        gap: 1em;

        @include breakpoint-up(large){
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        gap: 3em;
        }
    }
    .card{
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        overflow: hidden;
        color: white;
        position: relative;
        opacity: 0;
        filter: blur(20px);
        &__head{
            height: 20em;
            background: transparent 0% 0% no-repeat padding-box;
            background-size: cover;
            transition: $pm-transition;
        }
        &__body{
            background-color: $primary; 
            padding:1em 1.5em;
            position: absolute;
            bottom: -5em;
            left: 0;
            width: 100%;
            transition: $pm-transition;
            h3{
                font-size: $font-med;
                margin-bottom: 1em;
                
            }
            p{
                margin: 0;
                margin-bottom: 0.5em;
            }
        }
        &:hover{
            .card__head{
                transform: scale(1.2);
            }
            .card__body{
                bottom: 0;
                h3{
                    margin-bottom: 0;
                }
            }
            .btn-secondary{
                background-color: white;
                color: $primary;
            }
        }
    }
}