.footer {
    background-color: $bg-lit;
    // min-height: 60vh;
    margin-top: 2em;
    &__div {
        @include breakpoint-up(large) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    &__box {
        margin-bottom: 2em;
        &:nth-child(1) {
            @include breakpoint-up(large) {
                width: 25vw;
            }
        }
        h2 {
            font-weight: bold;
            color: $primary;
        }
        .input-div {
            border: 1px solid $text-muted;
            display: flex;
            width: fit-content;
            border-radius: 26px;
            padding: 0.5em 0.5em 0.5em 1em;
            width: 80%;
            margin-top: 2em;
            @include breakpoint-up(large) {
                // width: 100%;
            }
            input {
                background-color: transparent;
                border: none;
                width: 100%;
            }
            button {
                background-color: #a38c2a;
                border-radius: 50%;
                border: none;
                outline: none;
                width: 2.5em;
                height: 2.5em;
                padding: 0.5em;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            svg {
                width: 1.5em;
                height: 1.5em;
                stroke: white;
            }
        }
        h3 {
            margin-bottom: 0.5em;
            @include breakpoint-up(large) {
                margin-bottom: 2em;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                a {
                    color: $txt-clr;
                    text-decoration: none;
                    font-weight: 600;
                    transition: $pm-transition;
                    display: block;
                }
                &:hover {
                    a {
                        color: $accent-clr;
                        -webkit-transform: translateX(10px);
                        -ms-transform: translateX(10px);
                        transform: translateX(10px);
                    }
                }
                @include breakpoint-up(large) {
                    margin-bottom: 0.5em;
                }
            }
        }
        p {
            margin: 0;
            font-style: normal;
        }
        a {
            color: $txt-clr;
        }
        .footer__logo {
            img {
                width: 100%;
            }
        }
        &:last-child {
            border-top: 1px solid $text-muted;
            padding-top: 2em;
            padding-bottom: 0;
            width: 100%;
            @include breakpoint-up(large) {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    &__copyright {
        padding-block: 1em;
        p {
            margin: 0;
            color: white;
        }

        .content-box {
            @include breakpoint-up(large) {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .social-icons {
                width: fit-content;
                margin: 0 auto;
                @include breakpoint-up(large) {
                    margin: 0;
                }
                a {
                    margin-right: 1em;
                    transition: $pm-transition;
                    svg {
                        width: 1em;
                        height: 1em;
                    }
                    &:hover {
                        svg {
                            fill: white;
                            stroke: white;
                        }
                    }
                }
            }
        }
    }
}
